<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <bean class="alexiuscrow.spring.postproc.listeners.PostProxyInvokerContextListener"/>
    <bean class="alexiuscrow.spring.postproc.proc.ProfilingHandlerBeanPostProcessor"/>
    <bean class="alexiuscrow.spring.postproc.proc.RandomIntAnnotationBeanPostProcessor"/>
    <bean class="alexiuscrow.spring.postproc.TerminatorQuoter" id="terminatorQuoter">
        <property name="message" value="I'll be back!"/>
    </bean>

</beans>